/* ---Обнуление --------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 140%;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: Gilroy, sans-serif;
  max-width: 1920px;
  min-width: 375px;
}

/* ---------------------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 21.1%;
  box-sizing: content-box;
}

/* -----HEADER-------------------------------------------------- */

.header {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  min-width: 375px;
  left: 0;
  top: 0;
  z-index: 50;
  background: transparent;
}

.header__container {
  min-height: 52px;
  align-items: center;
  padding: 43px 0;
  max-width: 1110px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:nth-child(1),
.menu__item:nth-child(2),
.menu__item:nth-child(5) {
  margin-right: 3.6%;
}

.menu__item:nth-child(4) {
  margin: 0 9.2% 0 11.4%;
}

.menu__item:nth-child(6) {
  margin-right: 4%;
}

.menu__item:nth-child(7) {
  margin-right: 2.6%;
}

.menu__link {
  color: inherit;
}

.__link::after,
.search::after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 100%;
  transition: all .8s ease 0s;
  margin-top: 5px;
  left: 0;
}

.__link:hover::after,
.search:hover::after {
  width: 100%;
}

.search__img {
  margin-right: 4px;
  vertical-align: sub;
}

.search__input {
  background: inherit;
  color: inherit;
  width: 56px;
  height: 21px;
}

.search__input::placeholder {
  color: #fff;
  font-size: 14px;
}

.header__hidden {
  display: none;
}

/* ------MAIN-------------------------------------------- */

.main {
  flex: 1 1 auto;
}

/* ------INTRO--------------------------------------------- */

.intro {
  background: url(../images/bgc.jpg) no-repeat center center;
  height: 950px;
}

.intro__wrap {
  margin-bottom: 110px;
}

.intro__title {
  padding: 600px 0 65px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: 'Noto Serif';
}

.intro__link {
  display: block;
  width: 261px;
  color: inherit;
  border: #fff 1px solid;
  padding: 15px 0;
  font-family: Gilroy;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  background: #333333;
  text-align: center;
  transition: all .8s ease 0s;
}

.intro__link:hover {
  background: #fff;
  color: #333333;
  border-color: #333333;
}

.intro__bottom {
  border-top: 1px solid #fff;
}

.brands {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.brands__item {
  padding: 0 15px;
}

/* ------CATALOG------------------------------------------ */

.catalog {
  background: #E5E5E5;
}

.catalog__container {
  padding: 100px 0 120px 0;
}

.__header {
  text-align: center;
  color: #333333;
}

.link {
  font-size: 21px;
  color: #333333;;
  margin-bottom: 15px;
}

.title {
  font-family: 'Noto Serif';
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 60px;
}

.catalog__menu {
  margin-bottom: 55px;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
}

.catalog__list-item {
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
  border: 1px solid #D6D6D6;
  padding: 17px 0;
  width: 15%;
  text-align: center;
  background: #F9F9F9;
  transition: all .6s ease 0s;
}

.catalog__list-item:hover {
  background: #333333;
  color: #fff;
}

.catalog__list-link {
  color: inherit;
}

.catalog__categories {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.catalog__item {
  position: relative;
  display: block;
  transition: all .8s ease 0s;
}

.catalog__item:hover {
  opacity: .6;
}

.catalog__img {
  max-width: 100%;
}

.catalog__name {
  position: absolute;
  left: 50%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: translate(-50%, -300%);
}

/* ------SALONS------------------------------------------- */

.salons {
  background: url(../images/double-bubble-dark.png) no-repeat center;
  background-size: 100% 100%;
}

.salons__container {
  padding: 100px 0;
}

.salons__header {
  text-align: center;
}

.salons__subtitle {
  font-size: 21px;
  padding-bottom: 15px;
}

.salons__title {
  font-family: 'Noto Serif';
  font-size: 30px;
  padding-bottom: 45px;
}

.salons__article {
  text-align: center;
  font-size: 18px;
  width: 66%;
  margin: 0 auto;
  padding-bottom: 60px;
  line-height: 140%;
}

.salons__link {
  display: block;
  width: 224px;
  color: #333333;
  border: #333333 1px solid;
  padding: 15px 0;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: all .8s ease 0s;
}

.salons__link:hover {
  background: #333333;
  color:#fff;
  border-color: #fff;
}

/* --------BLOG-------------------------------------------- */

.blog {
  background: #E5E5E5;
}

.blog__container {
  padding-top: 120px;
}

.blog__articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 60px;
}

.blog__link {
  position: relative;
  display: block;
  transition: all .8s ease 0s;
}

.blog__link:hover {
  opacity: .6;
}

.blog__img {
  max-width: 100%;
}

.blog__description {
  position: absolute;
  left: 50%;
  color: #fff;
  font-size: 21px;
  text-align: center;
  transform: translate(-50%, -150%);
  width: 90%;
  line-height: 140%;
}

.blog__button {
  display: block;
  width: 255px;
  color: inherit;
  border: #fff 1px solid;
  padding: 15px 0;
  font-family: Gilroy;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  background: #333333;
  text-align: center;
  text-transform: uppercase;
  transition: all .8s ease 0s;
}

.blog__button:hover {
  background: #fff;
  color: #333333;
  border-color: #333333;
}

/* ------MEDIA-------------------------------------------- */

.main {
  background: #E5E5E5;
}

.media__container {
  padding: 120px 0 150px 0;
}

.media__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #7c7a7a;
}

.media__item:nth-child(1) {
  grid-column-start: span 2;
}

.media__item:nth-child(6) {
  grid-column-start: span 2;
}

.media__video,
.media__img {
  max-width: 100%;
  height: 100%;
}

/* ------SUBSCRIPTION-------------------------------------- */

.subscription {
  background: url(../images/double-bubble-dark.png) no-repeat center;
  background-size: 100% 100%;
}

.subscription__container {
  padding: 100px 0 120px 0;
}

.subscription__header {
  text-align: center;
}

.subscription__subtitle {
  font-size: 21px;
  padding-bottom: 15px;
}

.subscription__title {
  font-family: 'Noto Serif';
  font-size: 30px;
  line-height: 41px;
  padding-bottom: 60px;
}

.subscription__wrap {
  margin: 0 31% 0 28.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription__list {
  font-size: 18px;
  line-height: 140%;
}

.subscription__item {
  background: url(../images/subscribe__icon.png) 0 center no-repeat ;
  padding-left: 37px;
}

.subscription__item:not(:last-child) {
  margin-bottom: 15px;
}

.subscription__form {
  border: 1px solid #fff;
  height: 113px;
  padding: 14px 15px;
  width: 58.2%;
}

.subscription__form-inner {
  background: #fff;
  padding: 20px 22px;
}

.subscription__input {
  border: 1px solid #D6D6D6;
  width: 54%;
  height: 45px;
  margin-right: 4%;
  padding-left: 5%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subscription__button {
  border: 1px solid #fff;
  background: #333333;
  width: 40%;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  transition: all .8s ease 0s;
}

.subscription__button:hover {
  background: #fff;
  color: #333333;
  border-color: #333333;
  cursor: pointer;
}

/* ------FOOTER------------------------------------------- */

.footer {
  color: #333333;
  background: #E5E5E5;
  padding: 80px 0 20px 0;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
}

.footer__column {
  width: 23%;
  padding-bottom: 60px;
}

.footer__header {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.footer__title {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer__menu,
.footer__desc,
.footer__contacts {
  padding-top: 30px;
  line-height: 150%;
}

.footer__desc {
  margin-bottom: 21px;
}

.social__img {
  transition: all .8s ease 0s;
}

.social__img:hover {
  transform: scale(1.5);
}

.footer__contact:not(:last-child) {
  background: url(../images/phone_img.png) 0 center no-repeat;
  padding-left: 40px;
}

.footer__contact:nth-child(3) {
  background: url(../images/mail_img.png) 0 center no-repeat;
  padding-left: 41px;
}

.footer__item {
  color: #333333;
}

.footer__img:not(:last-child) {
  margin-right: 20px;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.social__item {
  margin-right: 10%;
}

.bottom {
  padding-top: 20px;
}

.bottom__list {
  display: flex;
  justify-content: space-between;
}

.bottom__item:last-child {
  font-weight: 600;
  border-bottom: 1px solid #333333;
}

/* ------АДАПТИВ--------------------------------------------- */

@media (max-width: 1590px) {
  .subscription__wrap {
    width: 50%;
    margin: 0 auto;
  }

  .footer__title {
    font-size: 16px;
    letter-spacing: 0;
  }
}

@media (max-width: 1470px) {
  .header__container {
    max-width: 1000px;
  }

  .menu__item:nth-child(4) {
    margin: 0 5.2% 0 7.4%;
  }

  .header__img {
    width: 90%;
  }
}

@media (max-width: 1420px) {
  .container {
    margin: 0 10%;
  }

  .intro__wrap {
    margin-bottom: 80px;
  }

  .subscription__wrap {
    width: 60%;
  }
}

@media (max-width: 1265px) {
  .menu__item:nth-child(4) {
    margin: 0 5.2% 0 7.4%;
  }
}

@media (max-width: 1140px) {
  .intro {
    height: 785px;
  }

  .intro__wrap {
    margin-bottom: 0;
  }
  
  .intro__bottom {
    display: none;
  }

  .catalog__container {
    padding: 78px 0 102px 0;
  }

  .blog__container {
    padding-top: 78px;
  }

  .media__container {
    padding: 109px 0 111px 0;
  }
}

@media (max-width: 1060px) {
  .header__container {
    max-width: 926px;
  }

  .menu__item:nth-child(4) {
    margin: 0 3.2% 0 5.4%;
  }

  .header__img {
    width: 80%;
  }

  .catalog__list-item {
    font-size: 16px;
  }

  .catalog__name {
    font-size: 20px;
  }

  .salons__subtitle {
    font-size: 22px;
    padding-bottom: 27px;
  }

  .subscription__wrap {
    width: 80%;
  }
}

@media (max-width: 980px) {
  .menu {
    display: none;
  }

  .header__hidden {
    display: block;
    width: 350px;
    margin: 0 auto;
  }

  .header__hidden-logo {
    margin-right: 48px;
  }

  .header__toggle {
    vertical-align: sub;
    background: none;
  }
}

@media (max-width: 892px) {
  .container {
    margin: 0 5%;
  }

  .catalog__list-item {
    font-size: 14px;
  }

  .catalog__name {
    font-size: 18px;
  }

  .link {
    font-size: 19px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .salons__container {
    padding: 80px 0;
  }

  .salons__subtitle {
    font-size: 20px;
  }

  .salons__title {
    font-size: 26px;
    padding-bottom: 45px;
  }

  .salons__article {
    font-size: 16px;
    width: 80%;
    padding-bottom: 50px;
  }

  .salons__link {
    font-size: 16px;
  }

  .blog__description {
    font-size: 18px;
  }

  .blog__button {
    font-size: 16px;
  }

  .subscription__container {
    padding: 80px 0 100px 0;
  }

  .subscription__subtitle {
    font-size: 19px;
  }

  .subscription__title {
    font-size: 28px;
    padding-bottom: 50px;
  }

  .subscription__wrap {
    width: 90%;
  }
}

@media (max-width: 793px) {
  .intro {
    background-size: cover;
  }

  .footer {
    padding-top: 60px;
  }

  .footer__navigation {
    flex-wrap: wrap;
  }

  .footer__column {
    width: 40%;
    padding-bottom: 52px;
  }

  .footer__title {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 720px) {
  .link {
    font-size: 18px;
  }

  .catalog__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .catalog__list-item {
    padding: 15px 0;
    width: 20%;
    margin: 5px;
  }

  .catalog__categories {
    grid-template-columns: 1fr 1fr;
  }

  .subscription__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subscription__list {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .subscription__form {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .blog__articles {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .media__content {
    grid-template-columns: repeat(2, 1fr);
    background: none;
    gap: 10px;
  }

  .bottom__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .bottom__item {
    margin-right: 10px;
  }
}

@media (max-width: 560px) {
  .catalog__list-item {
    width: 120px;
  }

  .catalog__categories {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 490px) {
  .header__hidden {
    width: 310px;
  }

  .intro {
    height: 640px;
  }

  .intro__title {
    line-height: 49px;
    padding: 332px 0 50px 0;
  }

  .salons__title {
    line-height: 41px;
  }

  .subscription__container {
    padding: 60px 0 60px 0;
  }

  .subscription__header {
    padding: 0 20px;
  }

  .subscription__subtitle {
    font-size: 16px;
  }

  .subscription__title {
    font-size: 24px;
    padding-bottom: 40px;
  }

  .subscription__form {
    width: 90%;
  }
}

@media (max-width: 460px) {
  .footer__navigation{
    justify-content: center;
  }

  .footer__column {
    width: 60%;
  }

  .footer__title {
    font-size: 16px;
  }

  .footer__item {
    font-size: 16px;
    line-height: 30px;
  }

  .footer__desc {
    font-size: 16px;
  }
}