/* ---Обнуление --------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 140%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  font-family: 'Noto Serif';
}

/* ---------------------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* ---HEADER-------------------------------------------------- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 52px;
  align-items: center;
}

.header__menu {
  margin: 0 126px 0 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 40px;
}

.menu__link {
  color: inherit;
}

.header__logo {
  border: 1px solid grey;
}