/* ---Обнуление --------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 140%;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: Gilroy, sans-serif;
  max-width: 1920px;
}

/* ---------------------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 21.1%;
  box-sizing: content-box;
}

/* -----HEADER-------------------------------------------------- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: transparent;
}

.header__container {
  display: flex;
  justify-content: center;
  min-height: 52px;
  align-items: center;
  padding: 43px 0;
  position: relative;
}

/* .header__menu {
  margin: 0 126px 0 0;
} */

.menu__list {
  display: flex;
  /* flex-wrap: wrap; */
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__item:nth-child(3) {
  margin-right: 444px;
}

.menu__item:nth-child(5) {
  margin-right: 44px;
}

.menu__item:nth-child(6) {
  margin-right: 29px;
}

.menu__link {
  color: inherit;
}

.search__img {
  margin-right: 16px;
}

.search__input {
  background: inherit;
  color: inherit;
  width: 41px;
  height: 21px;
}

.header__logo {
  position: absolute;
  left: 40%;
}

/* ------MAIN-------------------------------------------- */

.main {
  flex: 1 1 auto;
}

/* ------INTRO--------------------------------------------- */

.intro {
  background: url(../images/bgc.jpg) no-repeat center center;
  height: 950px;
}

.intro__wrap {
  margin-bottom: 110px;
}

.intro__title {
  padding: 600px 0 65px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: 'Noto Serif';
}

.intro__link {
  display: block;
  width: 261px;
  color: inherit;
  border: #fff 1px solid;
  padding: 15px 0;
  font-family: Gilroy;
  font-size: 18px;
  margin: 0 auto;
  /* margin-left: 38%; */
  background: #333333;
  text-align: center;
}

.intro__bottom {
  border-top: 1px solid #fff;
}

.brands {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.brands__item {
  padding: 0 15px;
}

/* ------CATALOG------------------------------------------ */

.catalog {
  background: #E5E5E5;
}

.catalog__container {
  padding: 100px 0 120px 0;
}

.catalog__header {
  text-align: center;
  color: #333333;
}

.catalog__link {
  font-size: 21px;
  color: #333333;;
  margin-bottom: 15px;
}

.catalog__title {
  font-family: 'Noto Serif';
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 60px;
}

.catalog__menu {
  margin-bottom: 55px;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
}

.catalog__list-item {
  /* position: relative; */
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
  border: 1px solid #D6D6D6;
  padding: 17px 0;
  width: 15%;
  text-align: center;
  background: #F9F9F9;
}

.catalog__list-item:hover {
  background: #333333;
  color: #fff;
}

.catalog__list-link {
  color: inherit;
}

.catalog__categories {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.catalog__item {
  position: relative;
}

.catalog__img {
  max-width: 100%;
}

.catalog__name {
  position: absolute;
  /* top: 222px; */
  left: 50%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: translate(-50%, -300%);
}

/* .catalog__list-link::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #faf8f8;
  z-index: 5;
  border: 1px solid #D6D6D6;
} */



/* ------FOOTER------------------------------------------- */

.footer {
  color: #333333;
}